.Menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .95);
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  transition: left .25s ease;
  left: -100%;
  z-index: 10;
  padding-top: 4rem;
  box-shadow: none;
}

.Menu--visible {
  left: 0;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .5);
}

.Menu__boton_cerrar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 4rem;
  color: var(--color-texto);
  background: none;
  border: none;
}

.Menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  color: var(--color-texto);
}
