.ListaPacientes {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.ListaPacientes__superior {
  display: flex;
  justify-content: space-between;
}

.ListaPacientes__instruccion {
  font-size: 2rem;
}

.ListaPacientes__fila {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  place-items: center start;
  padding: 3rem;
  font-size: 2rem;
  box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, .15);
  background-color: #fafafa;
}

.ListaPacientes__fila > div:first-child {
  font-weight: 500;
}

.ListaPacientes__link_nuevo_paciente {
  background: var(--color-principal);
  color: white;
  font-size: 1.5rem;
  padding: .5rem 2rem;
  border-radius: 1in;
  display: flex;
  align-items: center;
}

.ListaPacientes__icono_fila {
  margin-left: auto;
  font-size: 3rem;
  grid-row: span 4;
  place-self: center center;
}