.ListaPacientes {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ListaPacientes__superior {
  display: flex;
  justify-content: space-between;
}

.ListaPacientes__instruccion {
  font-size: 2rem;
}

.ListaPacientes__fila {
  display: flex;
  padding: 2rem;
  font-size: 2rem;
  box-shadow: .1rem .1rem .25rem rgba(0, 0, 0, .15);
}

.ListaPacientes__fila>div:first-child {
  width: 15rem;
}

.ListaPacientes__link_nuevo_paciente {
  background: var(--color-principal);
  color: white;
  font-size: 1.5rem;
  padding: .5rem 2rem;
  border-radius: 1in;
  display: flex;
  align-items: center;
}